/*Floating call button*/
.par_call {
    z-index: 100;
    position: fixed;
    right: -5px;
    bottom: 30%;
    /*top: 45%;*/
}

.par_call {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.par_call:hover {
    -webkit-transform: translate(-5px, 0);
    -moz-transform: translate(-5px, 0);
    -ms-transform: translate(-5px, 0);
    -o-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 6px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 375px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 7px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 5px 16px 0px;
    background-color: #fff;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #FFF;
    color: white;
}

.quick_con li {
    width: 100%;
    padding: 0px 0px 7px;
    position: relative;
    float: left;
}

.quick_con li img {
    width: 35px;
    height: 35px;
    margin: 0 16px;
    float: left;
}

.quick_con li .content {
    float: left;
    width: 73%;
}

.quick_con li .content span.title {
    float: left;
    padding-top: 5px;
    color: #333;
    margin-bottom: 0px;
    font-weight: 700;
    width: 100%;
}

.quick_con li .content span.week {
    font-size: 12px;
    color: #383838;
    line-height: 1.5;
}

.quick_con li a {
    color: #383838;
    display: block;
    font-weight: 700;
    cursor: pointer;
}

.quick_con li ul li {
    float: left;
    padding: 0px;
    margin-bottom: 10px;
    width: 100%;
}

.quick_con li .content span.title span {
    font-weight: 400;
    display: inline;
}

@media (max-width: 767px) {
    .par_call {
        display: none;
    }
}

@media (max-width: 479px) {
    .par_call {
        display: none;
    }
}
